exportPattern("^[[:alpha:]]+")
import(tools)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomeInfoDb)
import(GenomicRanges)
import(VariantAnnotation)
import(googleVis)
import(gtools)
import(BSgenome.Hsapiens.UCSC.hg19)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(phastCons100way.UCSC.hg19)
import(GenomicFeatures)
importFrom("GenomicScores", "scores")
importFrom("SummarizedExperiment", "rowRanges")
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "abline", "lines", "plot", "points")
importFrom("utils", "read.delim", "read.table", "write.table")
